.navbar {
    background:#050531;
    border-radius:0;
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    font-size:22px;
    color:#fff;
}
.navbar-default .navbar-brand:hover{
    color:#fff;

}

.navbar-default .navbar-nav>li>a {
    font-size:17px;
    color:#fff;
}
.navbar-default .navbar-nav>li>a:hover{
    color:#fff;
}


.navbar-default .navbar-toggle{
    border-color:#050531;
}   
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background:#130923;
}

#map {
    height: 100vh;
    background-color: grey;
}

#footer-bottom{
    background:#050531;
    min-height:30px;
    width:100%;
    text-align: center;
    color: #fff;
}